<!-- app/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <title>{% block title %}Django & HTMX{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

