<!--app/login.html -->

{% extends "app/base.html" %}

{% block title %}Django & HTMX - Login{% endblock %}

{% block content %}
    <main class="login-container">
        <h1>TIL</h1>
        <h2>Learned something?</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </main>
{% endblock %}

