#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

    & h2 {
        font-style: italic;
    }

    & form button {
        width: 100%;
    }
}


